@model ICSI_Management.Models.WebApplication
@{
    ViewBag.Title = "WebApplication";
    var disabled = "";
    if (ViewBag.disabled != null)
    {
        disabled = ViewBag.disabled;
    }
}
<div class="container mt-3">
    <div class="mt-4">
        <h3 class="text-center py-4"><strong>WEBAPPLICATION MASTER</strong></h3>
    </div>
    <div>
        <p class="text-success">
            @ViewBag.Message
        </p>
    </div>
    @using (Html.BeginForm("WebApplication", "Home"))
    {
        <div class="form-group row mt-4">
            <label class="col-md-3 control-label">Web Application Name </label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.WebAppName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WebAppName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row mt-4">
            <label class="col-md-3 control-label">Web Application Description </label>
            <div class="col-md-6">
                @Html.TextAreaFor(model => model.WebAppDesc, htmlAttributes: new { @class = "form-control", rows = "3" })
                @Html.ValidationMessageFor(model => model.WebAppDesc, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row mt-4">
            <label class="col-md-3 control-label">Schema Name  </label>
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.SchemaName, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SchemaName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row mt-4">
            <label class="col-md-3 control-label">Web URL  </label>
            <div class="col-md-6">
                @Html.TextAreaFor(model => model.WebURL, htmlAttributes: new { @class = "form-control", rows = "3" })
                @Html.ValidationMessageFor(model => model.WebURL, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 control-label">  </label>
            <div class="col-md-3">
                <label>
                    @Html.CheckBoxFor(model => model.Active)
                    Active
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 control-label"> </label>
            <div class="col-md-6">
                @{
                    if (Model.Id == 0)
                    {
                        <button type="submit" class="btn btn-primary SubmitBtn" @disabled> Add</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary SubmitBtn" @disabled onclick="return Go();"> Update</button>
                    }
                }
            </div>
        </div>

    }


    <div class="table-responsive pt-5">
        <h5 class="mb-3">Web Application Table</h5>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Web Application Name</th>
                    <th>Web Application Description</th>
                    <th>Schema Name</th>
                    <th>Web URL</th>
                    <th>Active</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.allapplications != null)
                {
                    foreach (var item in Model.allapplications)
                    {
                        //count++;
                        //dt = Convert.ToDateTime(item.CreatedDate);
                        //status = item.IsValid == "Y" ? "Active" : item.IsValid == "1" ? "Active" : "Revoked";
                        //dtSign = Convert.ToDateTime(item.DateOfSigningDoc);
                <tr>
                    @*<td>@count</td>*@

                    <td>@item.WebAppName</td>
                    <td>@item.WebAppDesc</td>
                    <td>@item.SchemaName</td>
                    <td>@item.WebURL</td>
                    @*<td>@dtSign.ToString("dd/MM/yyyy hh:mm:ss")</td>*@
                    <td>@item.Active</td>
                    @*<td>@item.ClientName</td>

        <td>@item.CINNumber  @item.PANNumber   @item.AadharNumber</td>*@

                    <td>

                        <button type="submit" onclick="location.href='@Url.Action("WebApplication", "Home" , new { id = item.Id })'">Edit</button>

                    </td>



                </tr>

                    }

                }
                else
                {
                    <tr>
                        <td>@ViewBag.Message</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


</div>
<script type="text/javascript">
    function Go() {
        var ok = confirm("Are you sure to proceed for updating the data?");
        if (ok) {
            return true;

        }
        else {
            return false;
        }
    }
</script>


